/* body */
body {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

/* h */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    margin: 6px;
    color: #252121;
    font-weight: bold;
    transition: color 0.2s linear;
    text-decoration: none;
    font-size: 18px;
}

.link {
    background: none;
    border: none;
}

/* container */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* header */
.header {
    width: 100%;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: #333;
    text-align: right;
    letter-spacing: 8px;
    font-size: 18px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner__login__input {
    font-size: 100%;
}

.header__inner__login__link {
    font-size: 80%;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #8E8599;
    text-decoration: none;
    margin-left: 50px;
}

/* nav */
.nav__button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(212, 212, 212);
    box-shadow: 0 -3px rgb(93, 94, 94) inset;
    transition: 0.2s;
}

.nav__button:hover {
    background: rgb(50, 52, 51);
}

.nav__button:active {
    background: rgb(17, 19, 17);
    box-shadow: 0 3px rgb(24, 24, 24) inset;
}

.nav__button__right {
    font-weight: 900;
    font-size: 100%;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(212, 212, 212);
    box-shadow: 0 -3px rgb(93, 94, 94) inset;
    transition: 0.2s;
    float: right;
}

.nav__button__right:hover {
    background: rgb(50, 52, 51);
}

.nav__button__right:active {
    background: rgb(17, 19, 17);
    box-shadow: 0 3px rgb(24, 24, 24) inset;
}

.line {
    margin-top: 1%;
    border-bottom: 3px solid #4d4949;
}


/* votings */
.votings {
    display: inline-block;
    width: 100%;
    background-size: 80%;
}

.votings__inner {
    vertical-align: middle;
    line-height: 1.25;
    max-width: 80%;
    margin: auto;
    font-size: 14px;
    background: white;
    text-align: left;
    border-collapse: collapse;
    color: #3E4347;
}

.votings__inner__table__thead {
    display: flex;
}

.votings__inner__table__thead__search__input {
    margin-top: 10px;
    float: right;
    display: block;
    width: 70%;
    height: calc(1rem);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #fff;
}

.votings_inner__table__search__button {
    display: block;
    margin-left: 5px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(212, 212, 212);
    box-shadow: 0 -3px rgb(93, 94, 94) inset;
    transition: 0.2s;
    float: right;
}

.votings_inner__table__search__button:hover {
    background: rgb(50, 52, 51);
}

.votings_inner__table__search__button:active {
    background: rgb(17, 19, 17);
    box-shadow: 0 3px rgb(24, 24, 24) inset;
}

.votings__inner__table th:first-child, .table_col td:first-child {
    border-left: none;
}

.votings__inner__table th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 8px 10px;
}

.votings__inner__table td {
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 12px 10px;
    color: #8b8e91;
}

/* voting */
.voting {
    position: absolute;
    top: 25%;
    left: 13%;
    display: inline-block;
    align-content: center;
}

.voting__inner {
    max-width: 80%;
    margin: auto;
    font-size: 14px;
}

.voting__inner__container {
    font-size: 20px;
}

.voting__inner__container__button__unvote {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(212, 212, 212);
    box-shadow: 0 -3px rgb(93, 94, 94) inset;
    transition: 0.2s;
    float: right;
}

.voting__inner__container__button__unvote:hover {
    background: rgb(50, 52, 51);
}

.voting__inner__container__button__unvote:active {
    background: rgb(17, 19, 17);
    box-shadow: 0 3px rgb(24, 24, 24) inset;
}

.addUser {
    position: absolute;
    top: 30%;
    left: 38%;
    font-size: 2rem;
    text-align: center;
}

.addUser__input {
    height: calc(1rem);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* myVoting */
.myVoting {
    margin-top: 1%;
}

.myVoting__inner {
    margin-left: 1%;
}

/* votingResult */
.voting__result {
    margin-top: 1%;
    margin-left: 20%;
    max-width: 80%;
    font-size: 14px;
}

.voting__inner__result {
    max-width: 80%;
    font-size: 14px;
    background: white;
    text-align: left;
}

.voting__inner__resultHead {
    display: flex;
    justify-content: space-between;
}

/* changeVoting */
.changeVoting {
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: left;
}

.changeVoting__input {
    width: 100%;
    height: calc(1rem);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.changeVoting__textarea {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

/* addVoting */
.addVoting {
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: left;
}